.container-blog {
    width: 50%;
    margin: 3rem auto;
}

.asset-primary {
    text-align: center;
    margin: 3rem auto;
}

.asset-primary img {
    border-radius: 0.4rem 0 0.4rem 0;
}

.asset-credit {
    font-size: small;
    font-weight: 500;
}

.asset-credit a {
    text-decoration: none;
    color: #EF4444
}

.container-blog h1 {
    border-bottom: 1px solid #EF4444;
    margin: 3rem auto;
}

.container-body p {
    text-align: justify;
    margin: 3rem;
    line-height: 1.5em;
    font-size: 1.1em;
}

.container-body img {
    display: block;
    text-align: center;
    margin: auto;
    width: 70%;
}

.container-body .asset-credit {
    margin: 1rem auto;
    text-align: center;
}

.container-body-ul {
    padding: 0 5rem
}

.container-body-ul li {
    margin: 1rem auto;
    line-height: 1.5em;
}

.container-body-subhead {
    font-weight: 500;
    color: #EF4444;
}

.asset-socials-list {
    display: block;
    margin: auto;
    text-align: center;
}

.blog-social-icn {
    color: #191919;
}

.asset-socials-list li{
    margin: auto;
    display: inline;
    padding: 0.2rem;
}

.asset-socials-list a {
    text-decoration: none;
    color: #191919;
    font-weight: 500;
}

.asset-socials-list i {
    margin-right: 0.5rem;
}

/* Media */

@media screen and (max-width: 600px) {
    .container-blog {
        width: 80%;
    }

    .asset-primary img {
        width: 100%;
    }

    .container-body p {
        margin: 1rem auto;
    }

    .asset-secondary img {
        width: 100%;
    }

    .asset-secondary p {
        font-size: small;
    }

    .container-body-ul {
        padding: 0 2rem;
        text-align: justify;
    }

    .asset-socials-list {
        margin: 2rem auto;
    }

    .asset-socials-list li{
        padding: 0;
    }
}